<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{ pendings }}</strong> pendientes</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li (click)="setFilter(filter)" *ngFor="let filter of validFilters">
      <a [class.selected]="selectedFilter === filter">{{ filter }}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button (click)="deleteDones()" class="clear-completed">Quitar completadas</button>
</footer>
